@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

* {
	font-family: Red Hat Text;
}

body {
	background-color: #fcf8f6;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.025fr;
}

.cadre {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(9, 1fr);
}

.cadre > .box {
	border: 0;
	background: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Name {
	color: #87635a;
	padding: 20px 0px 0px 0px;
	margin: 0;
}

.FullName {
	font-weight: bolder;
	padding: 0;
	margin: 0;
}

.Price {
	color: #c73b0f;
	padding: 0px 0px 40px 0px;
	margin: 0;
}

.box > img {
	height: 30vh;
	width: 100%;
	border-radius: 15px;
	object-fit: cover;
	transition: 1s;
}

.box {
	border-radius: 15px;
	transition: 0.25s;
	position: relative;
}

.box:hover {
	box-shadow: 0px 30px 75px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 30px 75px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 30px 75px 0px rgba(0, 0, 0, 0.75);
	background-color: #f0e3de;
}

.Cart {
	background-color: white;
	border-radius: 15px;
	height: 100%;
	padding: 15px;
}

.Cart > h1 {
	color: #c73b0f;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box > .center {
	width: 100%;
}

.acheter {
	display: flex;
	width: 33%;
	border-radius: 25px;
	justify-content: space-evenly;
	position: absolute;
	bottom: 31%;
	left: 33%;
	border: solid 1px rgba(173, 138, 133, 1);
	background-color: white;
}
.acheter:hover {
	color: rgba(199, 59, 15, 1);
	border: solid 1px rgba(199, 59, 15, 1);
}
.acheter > p {
	font-weight: 700;
}
.acheter > p:hover {
	color: rgba(199, 59, 15, 1);
}
.nombre {
	position: absolute;
	bottom: 32%;
	left: 33%;
	width: 30%;
	background-color: rgba(199, 59, 15, 1);
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	border-radius: 25px;
	color: white;
}
.choix {
	color: white;
	border: solid 1px white;
	background-color: transparent;
	border-radius: 50px;
}
.pading {
	padding-left: 7px;
	padding-right: 7px;
}
.choix:hover {
	background-color: white;
	color: rgba(199, 59, 15, 1);
}

@media screen and (min-width: 700px) {
	.cadre {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.acheter {
		width: 50%;
		bottom: 37%;
		left: 27%;
	}
	.nombre {
		bottom: 37%;
		left: 29%;
		width: 44%;
	}
}

@media screen and (min-width: 1000px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.Cart {
		height: 30%;
	}
	.acheter {
		width: 50%;
		bottom: 36%;
		left: 27%;
	}
	.nombre {
		left: 22%;
		width: 58%;
	}
}

.none {
	display: none;
}
